.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flow-root;
}

* {
    font-family: Times New Roman;
}

h3 {
    font-weight: 700;
}


/* //////////////////////////////////////////////////////// second //////////////////////////////////////////////////////////////*/

.img-fluid {
    background-image: url('./image/Gr2.jpg');
    width: 100%;
    height: 555px;
    background-size: cover;
    padding: 180px 0;
}

.img-fluid h1 {
    margin: 0 0 30px 0;
}

.img-fluid p {
    margin: 0 0 30px 0;
}

.btn:hover {
    background-color: #212529;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin: 0 auto;
}

.third_all_li li {
    color: #d2d1d1;
    display: inline-block;
    padding: 10px 70px 10px 0;
    margin: 0;
}

.third_all_li {
    margin: 0;
}


/* //////////////////////////////////////////////////////// third//////////////////////////////////////////////////////////////*/

.third #navbarColor01 li {
    padding-right: 55px;
    text-align: center;
}

.third {
    background-color: #212529;
    width: 100%;
    float: left;
}

.navbar.navbar-expand-lg.bg-dark.border-bottom.border-body {
    /* text-align: center; */
    padding: 0 60px;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
}

.third_top {
    text-align: center;
}

.third_top {
    text-align: center;
    font-family: Times New Roman;
}

.third_bottom {
    width: 100%;
    float: left;
    padding: 50px 0;
}

.card {
    width: 32%;
    float: left;
    margin-right: 10px;
}

.four {
    width: 100%;
    float: left;
    padding: 70px 0;
}


/* //////////////////////////////////////////////////////// five //////////////////////////////////////////////////////////////*/

.five {
    width: 100%;
    float: left;
    background-image: url('./image/gr3.jpg');
    background-size: cover;
    padding: 100px 20px 80px;
}

.five_altext {
    text-align: center;
}

.five_altext {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(120, 120, 120, 0.6);
    color: white;
    padding: 30px 0 35px 0;
}

.order.bambu {
    text-align: center;
    margin-top: -15px;
}

.six {
    width: 100%;
    float: left;
    padding: 100px 20px;
}

.six_top {
    text-align: center;
}

.rounded.float-start {
    width: 31%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.navbar.navbar-expand-lg.bg-dark.border-bottom.border-body {
    padding: 0;
}

.six_bottom {
    width: 100%;
    float: left;
}

.six_last {
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px 0 35px 0;
}


/* ////////////////////////////////////////////////////////  seven //////////////////////////////////////////////////////////////*/

.seven {
    width: 100%;
    float: left;
    padding: 50px 20px 100px;
    background-color: #ebebe9;
}

.seven_left {
    float: left;
    width: 70%;
}

.seven_right {
    float: left;
    width: 30%;
    padding: 70px 0;
}

.col-md-4.mb-3 {
    float: left;
    margin-right: 20px;
}

.col-md-6.mb-3 {
    float: left;
}

.col-md-3.mb-3 {
    float: left;
    margin-right: 20px;
}

.form-check {
    float: left;
}

#invalidCheck2 {
    margin-top: 17px;
    margin-right: 15px;
}

.form-check button {
    margin-left: 50px;
}


/* ////////////////////////////////////////////////////////  eight //////////////////////////////////////////////////////////////*/

.eight {
    background-color: #212529;
    padding: 8px;
    width: 100%;
    float: left;
}

.eight_icones {
    text-align: center;
}

.fa.fa-facebook {
    width: 40px;
    height: 40px;
    padding-top: 12px;
    border-radius: 50%;
    background: #3B5998;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.fa.fa-facebook:hover {
    box-shadow: 0px 0px 15px 5px #3B5998;
    transition: 0.4s;
}

.fa.fa-twitter {
    width: 40px;
    height: 40px;
    padding-top: 12px;
    border-radius: 50%;
    text-decoration: none;
    background: #55ACEE;
    color: white;
    margin-right: 15px;
}

.fa.fa-twitter:hover {
    box-shadow: 0px 0px 15px 5px #55ACEE;
    transition: 0.4s;
}

.fa.fa-linkedin {
    width: 40px;
    height: 40px;
    padding-top: 12px;
    border-radius: 50%;
    text-decoration: none;
    background: #007bb5;
    color: white;
    margin-right: 15px;
}

.fa.fa-linkedin:hover {
    box-shadow: 0px 0px 15px 5px #007bb5;
    transition: 0.4s;
}

.nine {
    width: 100%;
    float: left;
    background-color: #15171a;
    padding: 30px 20px;
}

.nine_first {
    float: left;
    width: 25%;
}

a {
    color: white;
    text-decoration: none;
    display: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.nine_ful {
    display: inline-block;
}

.navbar.navbar-expand-lg.bg-dark.border-bottom.border-body {
    padding: 7px 0;
}

.first {
    background-color: #212529;
    position: fixed;
    width: 100%;
}

.second {
    float: left;
    width: 100%;
    margin-top: 55px;
}


/* //////////////////////////////////////////////////////// media query //////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .third_all_li li {
        padding-right: 55px;
    }
    .card {
        width: 31%;
    }
}

@media only screen and (max-width: 767px) {
    .third_all_li li {
        padding-right: 45px;
    }
}

@media only screen and (max-width: 350px) {
    .rounded.float-start {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .third_all_li li {
        padding-right: 20px;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
    }
    .rounded.float-start {
        width: 100%;
    }
    .seven_left {
        width: 100%;
    }
    .seven_right {
        width: 100%;
        display: none;
    }
    .nine_first {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
}